body {
    background-color: rgb(36, 34, 34);
}

header {
    display: flex;
    padding: 7%;
    box-sizing: border-box;
    justify-content: center;
}

button{
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    background-color: #178ea3;
    color: #bababa;
    font-size: 22px;
    cursor: pointer;
    align-items: center;  
}

#bouttons {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 0 10px #000; 
    font-size: large;
    color: white;
}